# Diretórios do Terraform
.terraform/
.terraform.lock.hcl

# Arquivos de estado (contêm dados sensíveis)
terraform.tfstate
terraform.tfstate.*

# Planos do Terraform
*.tfplan

# Variáveis locais
*.tfvars
*.tfvars.json

# Credenciais AWS locais
.aws/
credentials
config

# Logs
*.log

# Ambientes virtuais Python
venv/
__pycache__/
*.pyc

# Arquivos temporários do sistema
.DS_Store
Thumbs.db